@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --ACCENT: rgb(22, 128, 87);
    --ACCENT-LIGHT: rgb(32, 190, 130);
    --SECONDARY: #ebebeb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 1rem;
}

h1 {
    font-size: 2.4rem;
    color: var(--ACCENT);
    margin-left: 1rem;
}

nav {
    background-color: var(--ACCENT);
    padding: 1.3rem 3rem;
    margin: 0.5rem 0;
}

nav a {
    color: var(--ACCENT-LIGHT);
    font-size: 1.1rem;
    margin-inline: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-inline: 1rem;
}

article {
    display: flex;
    flex-direction: column;
    background-color: var(--SECONDARY);
    border-radius: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.75;
    padding-bottom: 1rem;
}

article h2 {
    color: var(--ACCENT);
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    flex: 0 0 auto;
}

img {
    max-width: 100%;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.img-cont {
    flex: 1;
    background-color: #fff;
    padding: 1rem;
}

article, article img, aside img {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 1rem;
    color: var(--ACCENT);
    text-align: center;
    font-size: 1.1rem;
}

